MONGODB_URI=
LLM_PROVIDER=
ANTHROPIC_API_KEY=""
GROQ_API_KEY=
SERPAPI_KEY=""
GOOGLE_PLACES_API_KEY=""
GOOGLE_ROUTES_API_KEY=""
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=false
LANGCHAIN_PROJECT=squadplanner
SERPAPI_MONTHLY_HARD_LIMIT=200