# Python byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Tests and Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE and OS files
.vscode/
.idea/
.DS_Store
